@model IEnumerable<DoAn_WebNangCao.Models.Quiz>

@{ 
    int quiz_idx = 1;
    string class_name = "";
    string mark_container = "";
    string answer_comment = "";
}
@foreach(var quiz in Model)
{   
    <table class="table-quiz">
        <tr class="quiz-title-container">
            @{
                var cau_hoi = quiz.Cau_hoi;
                string quiz_title = quiz_idx.ToString() + ". " + cau_hoi.NoiDung;
                var id_cau_hoi = cau_hoi.IDCauHoi;
                int id_correct_answer = cau_hoi.DAPANs.FirstOrDefault(ch => ch.TinhChat == true).IDDapAn;
                int id_answer_choosen = quiz.Id_cau_tra_loi;
            }
            <th id="@id_cau_hoi" class="quiz-title">@quiz_title</th>
        </tr>
        @foreach (var dap_an in cau_hoi.DAPANs)
        {

            // choose correct answer && answer chosen = dap_an.IDDapAn
            if (id_correct_answer == id_answer_choosen && dap_an.IDDapAn == id_answer_choosen)
            {
                mark_container = "<div class='markcontainer'><i class='fa fa-check'></i></div>";
                class_name = "radiocontainer correct selected";
                answer_comment = "<span class='answercomment'>&nbsp;&nbsp;Your answer&nbsp;&nbsp;</span>";
            }
            // answer chosen != correct answer && answer chosen = dap_an.IDDapAn
            else if (id_correct_answer != id_answer_choosen && dap_an.IDDapAn == id_answer_choosen)
            {
                mark_container = "<div class='markcontainer'><i class='fa fa-times'></i></div>";
                class_name = "radiocontainer wrong";
                answer_comment = "<span class='answercomment'>&nbsp;&nbsp;Your answer&nbsp;&nbsp;</span>";
            }
            // answer chosen != correct answer && correct answer = dap_an.IDDapAn
            else if (id_correct_answer != id_answer_choosen && dap_an.IDDapAn == id_correct_answer)
            {
                mark_container = "";
                class_name = "radiocontainer correct";
                answer_comment = "<span class='answercomment'>&nbsp;&nbsp;Correct answer&nbsp;&nbsp;</span>";
            }
            else
            {
                mark_container = "";
                class_name = "radiocontainer";
                answer_comment = "";
            }
            <tr>
                <th class="answer-row @class_name">
                    <div>
                        @Html.Raw(mark_container)
                        @dap_an.NoiDung
                        @Html.Raw(answer_comment)
                    </div>
                </th>
            </tr>
        }
    </table>
    ++quiz_idx;
}