@model DoAn_WebNangCao.Models.Exam

@{
    var quizs = Model.Quizs;
    int num_of_quizs = quizs.Count;
    string open_tag = "<div class='row'> <div class='col - 11 offset - 1'>";
    string close_tag = "</div> </div>";
    int count = 1;
    string btn_class = "";
}
<div class="row">
    <div class="col-6 offset-3">
        <span>Danh sách câu hỏi</span>
    </div>
</div>
@for(int i = 0; i < num_of_quizs; i++)
{
    if(quizs[i].Id_dap_an_chons.Count > 0)
    {
        btn_class = "btn-quiz-selected";
    } else {
        btn_class = "btn-quiz";
    }
    if(count == 1)
    {
        @Html.Raw(open_tag);
        ++count;
    }
    <button type="button" 
            class="btn btn-outline-primary @btn_class"
            onclick="window.location.href='@Url.Action("PeekQuiz", new { peek_quiz_idx = i })'">
            @(i+1)
    </button>   
    if(count == 5 || i == (num_of_quizs - 1)) 
    {
        @Html.Raw(close_tag);
        count = 1;
    }
}
