@model DoAn_WebNangCao.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (ViewBag.ThanhCong == "true")
{
    <div class="alert bg-success text-white fade show mb-0" role="alert">
        <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
        <i class="fa fa-check mx-2"></i>
        <strong>Thành công!</strong> Đổi mật khẩu thành công!
    </div>
}
else if (ViewBag.ThanhCong == "false")
{
    <div class="alert bg-danger text-white fade show mb-0" role="alert">
        <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
        <i class="fa fa-exclamation-triangle mx-2"></i>
        <strong>Thất bại!</strong> @ViewBag.ErrorMessage
    </div>
}
<br>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "user" }))
{
    @Html.AntiForgeryToken()

    <div class="col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Đổi mật khẩu</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="col mb-3 mb-sm-0">
                                    @Html.LabelFor(model => model.OldPass)
                                    @Html.EditorFor(model => model.OldPass, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Nhập mật khẩu cũ..." } })
                                    @Html.ValidationMessageFor(model => model.OldPass, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col mb-3 mb-sm-0">
                                    @Html.LabelFor(model => model.NewPass)
                                    @Html.EditorFor(model => model.NewPass, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Nhập mật khẩu mới..." } })
                                    @Html.ValidationMessageFor(model => model.NewPass, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col mb-3 mb-sm-0">
                                    @Html.LabelFor(model => model.ConfirmPass)
                                    @Html.EditorFor(model => model.ConfirmPass, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Nhập lại mật khẩu mới..." } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPass, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" style="font-size:20px;border-radius:25px" class="btn btn-success"><i class="fa fa-check"></i></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
}


