@model DoAn_WebNangCao.Models.TAIKHOAN

@{
    ViewBag.Title = "Cập nhật tài Khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (ViewBag.ThanhCong == "true")
{
    <div class="alert bg-success text-white fade show mb-0" role="alert">
        <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
        <i class="fa fa-check mx-2"></i>
        <strong>Thành công!</strong> Thông tin tài khoản đã được cập nhật!
    </div>
}
else if (ViewBag.ThanhCong == "false")
{
    <div class="alert bg-danger text-white fade show mb-0" role="alert">
        <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
        <i class="fa fa-exclamation-triangle mx-2"></i>
        <strong>Thất bại!</strong> Cập nhật thất bại!
    </div>
}
<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title text-primary ">Thông tin tài khoản</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    @using (Html.BeginForm("Profiles", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "user" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-5">
                <div class="card shadow mb-4">
                    <div class="card-header text-center">
                        <div style="position:relative">
                            <img class="rounded-circle mb-3 mx-auto img-responsive" style="height:250px;width:250px;" id="previewImg" src="@Url.Content(Session["AnhDaiDien"].ToString())" alt="User Avatar">
                            <label for="UploadImg" style="position:absolute;font-size:20px;border-radius:25px;bottom:0%;right:35%;" class="btn btn-primary"><i class="fa fa-camera"></i></label>
                        </div>
                        <div>
                            <h4 class="mb-0">@Session["HoTen"]</h4>
                            <span class="text-muted d-block mb-2">@Session["Quyen"]</span>
                            <input type="file" id="UploadImg" style="display:none;" name="UploadImage" onchange="ChangeImage(this, document.getElementById('previewImg'))" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Thông tin</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                            <div class="row">
                                <div class="col">
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(model => model.IDUser)
                                    <div class="form-group row">
                                        <div class="col-6 mb-3 mb-sm-0">
                                            @Html.LabelFor(model => model.UserName)
                                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control form-control-user", @readonly = "readonly", placeholder = "Tên đăng nhập", @Value = Session["UserName"] } })
                                        </div>
                                        <div class="col-6 mb-3 mb-sm-0" style="position:relative;">
                                            @Html.LabelFor(model => model.MatKhau)
                                            @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control form-control-user password", @readonly = "readonly", placeholder = "Mật khẩu", @Value = Session["MatKhau"] } })
                                            <div class=" text-right" style="position:absolute;right:7%;bottom:16%;">
                                                <a href="@Url.Action("ChangePassword","Account")"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-6 mb-3 mb-sm-0">
                                            @Html.LabelFor(model => model.HoTen)
                                            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Họ tên", @Value = Session["HoTen"] } })
                                            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-6 mb-3 mb-sm-0">
                                            @Html.LabelFor(model => model.SDT)
                                            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control form-control-user password", placeholder = "Số điện thoại", @Value = Session["SDT"] } })
                                            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col mb-3 mb-sm-0">
                                            @Html.LabelFor(model => model.Email)
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Địa chỉ Email", @Value = Session["Email"] } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col mb-3 mb-sm-0">
                                            @Html.LabelFor(model => model.DiaChi)
                                            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Địa chỉ", @Value = Session["DiaChi"] } })
                                            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-user">Cập nhật tài khoản</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
<!-- End Default Light Table -->
