@model DoAn_WebNangCao.Models.Quiz

@{
    var quiz = Model.Cau_hoi;
    string quiz_title = quiz.NoiDung;
    int id_cau_hoi = quiz.IDCauHoi;
    int quiz_idx = Model.Quiz_idx;
    var quiz_type_id = Model.Cau_hoi.IDLoaiCauHoi;
    var selected_answer_ids = Model.Id_dap_an_chons;
}

<!--Quiz title-->
<div class="quiz-title-container">
    <span class="quiz-title">
        Câu @(quiz_idx + 1): @Html.Raw(quiz_title)
    </span>
</div>

<!--List answers-->
<table class="table-quiz">
    @foreach (var dap_an in quiz.DAPANs)
    {
        <tr>
            <th class="answer-row">
                <label class="container">
                    @dap_an.NoiDung
                    @{
                        var answer_id = dap_an.IDDapAn;
                        var cb_name = answer_id;
                        var isChecked = "";
                        var value = false;
                        if (selected_answer_ids.Contains(answer_id))
                        {
                            isChecked = "checked";
                            value = true;
                        }
                    }
                    <input type="checkbox" value=@value name="@cb_name.ToString()" @isChecked />
                    <span class="checkmark"></span>
                </label>
            </th>
        </tr>
    }
</table>
<input type="hidden" value="@quiz_idx" name="quiz_idx" />